. {
    box-sizing: border-box;
    margin: auto;
    padding: 0%;
}

.center {
    text-align: center;
}

.box {
    border: 2px solid rgb(36, 29, 29);
    border-radius: 3px;
}

#title {
    padding-bottom: 5vh;
}

#main {
    font-size: 25px;
    display: grid;
    grid-gap: 5vh;
    grid-auto-rows: 1fr;
    grid-template-areas: 
    ". display display ."
    ". display display ."
    ". prompt prompt ."
    ". . . .";
} 

#display {
    height: auto;
    display: grid;
    background-color: lightgreen;
    grid-area: display;
    grid-template-columns: 1fr 2fr 1fr;
}

.score {
    font-size: 70px;
    color: darkblue;
}


#info {
    display: grid;
    grid-template-areas: 
    ". round roundVal ."
    ". result resultVal ."
    ". . . ."
    ". . . ."
    ". . . .";
}

#round {
    grid-area: round;
}

#roundVal {
    grid-area: roundVal;
}

#result {
    grid-area: result;
}

#resultVal {
    grid-area: resultVal;
}


#prompt {
    height: 100px;
    grid-area: prompt;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vw;
    
}